.acerca{
      h2{
        @extend %titulo;       
        color: $color-texto;
      }
}

.flex-acerca{
       p{
        font-family: "Montserrat";
        color: $color-texto;
        @extend %parrafo;
        padding: 2rem;
   }
}

.iframe-maps{
    @extend %flex;
}