.acerca{
      h2{
        @extend %titulo;       
        color: nth($colores, 1);
      }
}

.flex-acerca{
       p{
        font-family: "Montserrat";
        color: nth($colores, 1);
        margin-left: 3rem ;
        text-align: justify;
        justify-content: space-around;
        line-height: 150%;
        padding: 2rem;
   }
}

.iframe-maps{
    @extend %flex;
}