.texto-contacto h2{
    @extend %titulo;
    color: $color-texto;
    font-size: nth($font-size, 2);
}

.texto-contacto p{
    font-family: "Montserrat";
    padding-bottom: 3rem;
    color: $color-texto;
    margin-left: nth($margenes, 5);
}

.form-contacto{
    width: 100%;
    @extend %flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-top: nth($margenes, 5);
    background-color: $color-secundario;
    padding: 3.5rem 1.5rem;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-caja-sombra: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 30px;
 
}

.contenedor-contacto{
    width: 100%;
    display: grid;
    gap: 10px;
    margin: auto;
    grid-auto-columns: 100%;
    align-items: center;
    justify-content: center;

}

.form-input{
    font-family: "Montserrat";
    @include margin-padding(1rem, 0.5rem);
}

.boton{
    font-family: "Montserrat";
    border: none;
    cursor: pointer;
    @include margin-padding(auto, 1rem);
    font-size: 1rem;
    color: $color-texto; 
    font-weight: bold;
    width: 90%;

}