.footer-flex{
    background-color: $color-fondo;
    border-top: 2px solid rgb(0, 105, 167);
    height: 150px;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-top: nth($margenes,3);
   
    flex-direction: column;

    .link-redes{
        display: flex;
        justify-content: center;
        flex: auto;

        A{
            text-decoration: none;
            margin:auto;
        }

        img{
            width: 2rem;
            justify-items: center;
            margin-left: nth($margenes, 1);
            margin-right: nth($margenes, 1);
            margin-top:nth($margenes, 3);
        }        
    }
    .texto{
        p{
            text-align: center;
            font-family: "Montserrat";
            color:$color-texto;
            display: flex;
            justify-content: center;
            margin-top:nth($margenes, 3);
            margin-bottom:  nth($margenes, 1);
        }    
    }
}