header{
    background-color: $color-fondo;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 105, 167);
    position: sticky;
    top: 0;
    align-items: center;
    padding: 20px;
    

    img{
        width: 15rem; 
    }

    .navegacion{
       
    .menu{
        display: flex; 
        list-style: none; 
        margin-bottom:0; 
        li{
            margin: 15px;  
    
            a{
            color: $color-texto;
            text-decoration: none;
            font-family: "Montserrat";
            font-weight: bold; 
    
            &:hover{
            color: $color-secundario;
            transition:.4s ease-in;
            }
            }
        }

    }
}
}

