.grid-contenedor {
    display: block;
    margin: 0 auto;
}


.div1-contenedor {
    font-family: "Montserrat";
    color:  $color-texto; 
    margin-left: nth($margenes, 5);

    h2{
        @extend %titulo;
        font-size: nth($font-size,2);
    }

    ul{
        margin-top: nth($margenes, 3);
        margin-bottom: nth($margenes, 3);
        margin-left: nth($margenes, 5);
    }

    p{
        margin-top: nth($margenes, 3);
    }

    h3{
        font-weight: bold;
        font-size:nth($font-size ,1);
        margin-left: nth($margenes, 5);
    }

}
